body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.bs-docs-header {
    margin-bottom: 0;
}

.bs-example:after {
    content: "实例：" !important;
}

.bs-docs-header h1,
.bs-docs-header p {
    margin-right: 100px;
}

.bs-docs-section p,
/*.bs-docs-section ul, 
.bs-docs-section ol, */
.bs-callout p,
.bs-callout ol,
.bs-callout ul {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1em;
}

.bs-docs-section:last-child {
    margin-bottom: 5em;
}

.bs-callout *:last-child {
    margin-bottom: 0;
}

h2 {
    font-size: 26px;
}

h3 {
    padding-left: 30%;
    color: #337ab7;
    font-size: 22px;
}

.section {
    margin: 1em auto 2em;
}

dl {
    margin-bottom: 0.5em;
}

dt,
dd {
    line-height: 1.2;
}

dl dt {
    white-space: pre-wrap;
    width: 30%;
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dl dd {
    margin-left: 32%;
    color: #777;
}

dl.focus {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    /* Safari 和 Chrome */
    -o-transform: scale(1.1, 1.1);
    /* Opera */
    -moz-transform: scale(1.1, 1.1);
    /* Firefox */

    color: #6f5499;
    font-weight: bold;
}

div.highlight {
    max-height: 500px;
    overflow: auto;
    margin: 1.5em auto;
}

footer.bs-docs-footer {
    margin-top: 0;
    padding: 30px;
}

/* 去除畅言广告 */
#pop_ad,
#feedAv * {
    display: none;
}
