<% 
for(var i = 0; i < body.chapters.length; i++) { 
	var chapter = body.chapters[i]; 
%>
	<h1><%= chapter.name%></h1>
<% 
	for(var i = 0; i < chapter.sections.length; i++) { 
		var section = chapter.sections[i]; 
%>
		<div class="bs-docs-section">
			<h2><%= section.name%></h2>
			<% for(var j = 0; j < section.blocks.length; j++) { %>
			<% var block = section.blocks[j]; %>
			<p>
				<%- block.key %>:
				<%- block.description %>
			</p>
			<% } %>
		</div>
<% 
	} 
}
%>