<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>CodeExperience</title>
    <meta name="author" content="胡明明" />
    <meta name="keywords" content="初学Java" />
    <meta name="description" content="从零开始学习Java，先搭建开发环境">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- CDN -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/prettify/r298/prettify.min.css" rel="stylesheet">

    <!-- build:css /styles/main.css -->
    <link rel="stylesheet" href="/styles/docs.min.css">
    <link rel="stylesheet" href="/styles/patch.css">
    <!-- endbuild -->

</head>
<body data-spy="scroll" data-offset="100" data-target="#catalog">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>

    <!-- 导航 -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">CodeExperience</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
    <li><a href="#">简介</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">速记手册 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Html</a></li>
            <li><a href="#">Css</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">jQuery</a></li>
            <li class="divider"></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">Sql</a></li>
            <li class="divider"></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Yeoman</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">编程基础 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/basic/CodingSpec.html">基本编程规范</a></li>
            <li><a href="#">C# 编程规范</a></li>
            <li><a href="#">Effective C#</a></li>
            <li><a href="#">OOD启思录</a></li>
            <li class="divider"></li>
            <li><a href="#">性能优化</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">设计模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/design_pattern/create.html">创建型模式</a></li>
            <li><a href="/design_pattern/struct.html">结构型模式</a></li>
            <li><a href="/design_pattern/behavior.html">行为型模式</a></li>
            <li class="divider"></li>
            <li><a href="#">设计模式总结</a></li>
            <li><a href="#">面向对象设计原则</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">架构模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/architect/enterpriseApplicationArchitecture.html">企业应用架构模式</a></li>
            <li><a href="/architect/largeWebsiteArchitecture.html">大型网站技术架构</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">项目管理 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/project_management/DevelopmentProcess.html">软件开发流程</a></li>
            <li><a href="#">持续集成</a></li>
            <li><a href="/project_management/ProjectPlan.html">项目计划、进度与控制</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">杂谈 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/talk/terms.html">计算机名词</a></li>
            <li><a href="#">如何做SEO</a></li>
            <li><a href="#">如何选择控件</a></li>
            <li><a href="#">Yeoman为何流行</a></li>
            <li><a href="/talk/terms.html">初学Java</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">自学经历 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/learn/java.html">Java入门</a></li>
        </ul>
    </li>
</ul>

<!-- <ul class="nav navbar-nav navbar-right">
    <li><a href="#" target="_blank"></a></li>
</ul> -->
            </nav>
        </div>
    </header>

    <!-- 论文简介 -->
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1>初学Java</h1>
            <p>摘要: 从零开始学习Java，先搭建开发环境</p>
            <p>关键字: 初学Java</p>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                <!-- 正文 -->
                <div>
                    

	<h2 class="page-header" id="0">一、搭建开发环境</h2>

	

	<div class="bs-docs-section">

	

			<h3 id="0-0">1.安装Jdk</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>包含内容</dt>
						<dd>JRE、编译器、打包工具、文档生成器、调试器、头文件生成器、反汇编器、监控工具等</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>下载</dt>
						<dd>http://www.oracle.com/technetwork/java/javase/downloads/index.html</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>JAVA_HOME</dt>
						<dd>C:\Program Files\Java\jdk1.7.0</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>CLASSPATH</dt>
						<dd>.;%JAVA_HOME%\lib\dt.jar;%JAVA_HOME%\lib\tools.jar;</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>Path</dt>
						<dd>%JAVA_HOME%\bin;%JAVA_HOME%\jre\bin;</dd>
					</dl>

					

			

			</div>

		

			<h3 id="0-1">2.安装Tomcat</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>下载（Core:zip）</dt>
						<dd>http://tomcat.apache.org/download-80.cgi</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>绿色</dt>
						<dd>解压到不需要Admin权限的目录</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>CATALINA_HOME</dt>
						<dd>F:\Downloads\Tomcat\apache-tomcat-8.0.22</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>启动</dt>
						<dd>双击 ‘安装目录\bin\startup.bat’ || 打开浏览器 ‘http://localhost:8080/’</dd>
					</dl>

					

			

			</div>

		

			<h3 id="0-2">3.安装Eclipse</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>下载</dt>
						<dd>http://www.eclipse.org/downloads/</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>绿色</dt>
						<dd>解压到不需要Admin权限的目录</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>工作目录</dt>
						<dd>存放代码的默认文件夹</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置运行环境</dt>
						<dd>Preference\Java\Installed JREs：选择jdk安装目录</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置编码格式</dt>
						<dd>General\WorkSpace\Text file encoding：UTF-8</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>关闭拼写检查</dt>
						<dd>General\Editors\Text Editors\Spelling：禁用拼写检查</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>安装插件</dt>
						<dd>Help\Eclipse Marketplace</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置Tomcat</dt>
						<dd>Preference\Server\Runtime Enviorments：添加Apache Tomcat v8.0及安装目录 || JRE选择jdk开头的</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>打开Tomcat</dt>
						<dd>Window\Show View\Servers：右键\start</dd>
					</dl>

					

			

			</div>

		

	</div>



	<h2 class="page-header" id="1">二、各种 Hello World</h2>

	

	<div class="bs-docs-section">

	

			<h3 id="1-0">1.Jsp（方便生成Html的servlet，由Tomcat自动解析）</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>创建项目</dt>
						<dd>Web\Dynamic Web Project</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>创建页面</dt>
						<dd>WebContent\某目录，右键\JSP File</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>编写代码</dt>
						<dd>跟Asp差不多，语句用<code><% %></code>，声明用<code><%! %></code>，表达式用<code><%= %></code></dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>九大内置对象</dt>
						<dd>request，response，session，application，out（输出），page，pageContext，config，exception</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>部署到Tomcat</dt>
						<dd>Server\Add and Remove...，添加当前项目</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>运行</dt>
						<dd>Window\Show View\Servers：右键\start || 打开浏览器 ‘http://localhost:8080/目录/xxx.jsp’</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>（修改端口号）</dt>
						<dd>并列工程目录\Servers\server.xml：找到Connector\port，进行修改</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>（智能提示）</dt>
						<dd>快捷键：<kbd>Alt + /</kbd> <br /> 导入运行时类库：<kbd>项目右键\Build Path\Config Build Path\Java Build Path\Add Library\Server Runtime</kbd></dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>（解决中文乱码）</dt>
						<dd>post：<code>request.setCharacterEncoding("utf-8");</code><br /> get：修改Tomcat的server.xml的配置 <code>URIEncoding="utf-8"</code></dd>
					</dl>

					

			

			</div>

		

	</div>


                </div>

                <div class="bs-callout bs-callout-info">
	<!-- <h4>注:</h4> -->
	<p class="text-info">
		

			<br />

			

			<br />

			
	</p>
</div>
            </div>
            <div class="col-md-3" role="complementary">
                <!-- 目录 -->
                <nav id="catalog" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="320">
                    <ul class="nav bs-docs-sidenav">

    

            <li>
                <a href="#0">一、搭建开发环境</a>
                <ul class="nav">

                    

                        <li><a href="#0-0">1.安装Jdk</a></li>

                        

                        <li><a href="#0-1">2.安装Tomcat</a></li>

                        

                        <li><a href="#0-2">3.安装Eclipse</a></li>

                        

                </ul>
            </li>

            

            <li>
                <a href="#1">二、各种 Hello World</a>
                <ul class="nav">

                    

                        <li><a href="#1-0">1.Jsp（方便生成Html的servlet，由Tomcat自动解析）</a></li>

                        

                </ul>
            </li>

            

</ul>
                    <a class="back-to-top" href="#top">
                        返回顶部
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>本网站由 <a href="#" target="_blank">胡明明</a> 在业余时间归纳总结。所有内容基于个人理解，仅用于参考，不保证正确性。</p>
	<p>版权所有，保留一切权利。</p>
  </div>
</footer>


    <!-- CDN -->
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>

    <!-- build:js /scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>