<html>
<head>
</head>
<body>
    <div class="blackBoard">
        <h3><%- Paper.title%> <small><%- Paper.subTitle%></small></h3>
        <ul>
            <% for(var i = 0; i < Paper.sections.length; i++) { %>
            <li>
                <%- include('partials/section', {section: Paper.sections[i]}); %>
            </li>
            <% } %>
        </ul>
    </div>

</body>
</html>