<% for(var k = 0; k < codeSnippets.length; k++) { 
		var codeSnippet = codeSnippets[k]; 
		%>

		<div class="highlight">
		  <h5 class="code-title center-block btn btn-link"><%- codeSnippet.description %> <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></h5>
		  <pre>
		    <code class="prettyprint linenums" data-code-url="<%= codeSnippet.url %>"></code>
		  </pre>
		</div>

		<% 
	} 
%>