<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>本网站由 <a href="#" target="_blank">胡明明</a> 在业余时间归纳总结。所有内容基于个人理解，仅用于参考，不保证正确性。</p>
	<p>版权所有，保留一切权利。</p>
  </div>
</footer>

<!-- bower:js --> 
<!-- endbower --> 

<!-- build:js /scripts/main.js -->
<script src="/scripts/prettyCode.js"></script>
<script src="/scripts/main.js"></script>
<!-- endbuild -->

<!-- 站内搜索 -->
