<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>本网站由 <a href="#" target="_blank">胡明明</a> 在业余时间归纳总结。所有内容基于个人理解，仅用于参考，不保证正确性。</p>
    <p>Copyright ©2017 胡明明. All Rights Reserved. 宁ICP备16001931号</p>
  </div>
</footer>

<!-- bower:js --> 
<!-- endbower --> 

<!-- build:js /scripts/main.js -->
<script src="/scripts/prettyCode.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/sohu_comment.js"></script>
<script src="/scripts/baidu_share.js"></script>
<script src="/scripts/baidu_statistics.js"></script>
<!-- endbuild -->

