<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

<title>CodeExperience</title>
<meta name="author" content="胡明明" />
<meta name="keywords" content="<%= 关键字 %>" />
<meta name="description" content="<%= 摘要 %>">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="/favicon.ico">

<!-- bower:css --> 
<!-- endbower --> 

<!-- build:css /styles/main.css -->
<link rel="stylesheet" href="/styles/docs.min.css">
<link rel="stylesheet" href="/styles/patch.css">
<link rel="stylesheet" href="/styles/prettify.css">
<!-- endbuild -->
