<ul class="nav navbar-nav">
    <li><a href="#">简介</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">速记手册 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Html</a></li>
            <li><a href="#">Css</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">jQuery</a></li>
            <li class="divider"></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Sql</a></li>
            <li class="divider"></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Yeoman</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">编程基础 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/basic/CodingSpec.html">基本编程规范</a></li>
            <li><a href="#">C# 编程规范</a></li>
            <li><a href="#">Effective C#</a></li>
            <li><a href="#">OOD启思录</a></li>
            <li class="divider"></li>s
            <li><a href="#">性能优化</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">设计模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">创建型模式</a></li>
            <li><a href="#">结构型模式</a></li>
            <li><a href="#">行为型模式</a></li>
            <li class="divider"></li>
            <li><a href="#">设计模式总结</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">架构模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">企业应用架构模式</a></li>
            <li><a href="#">大型网站技术架构</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">项目管理 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">持续集成</a></li>
            <li><a href="/project_management/ProjectPlan.html">项目计划、进度与控制</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">杂谈 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">如何做SEO</a></li>
            <li><a href="#">如何选择控件</a></li>
            <li><a href="#">Yeoman为何流行</a></li>
        </ul>
    </li>
</ul>

<!-- <ul class="nav navbar-nav navbar-right">
    <li><a href="#" target="_blank"></a></li>
</ul> -->