<ul class="nav navbar-nav">
    <li>
        <a href="#">起步</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">编程基础 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/books/CodingSpec.html">通用编程规范</a></li>
            <li><a href="#">C# 编程规范</a></li>
            <li><a href="#">Effective C#</a></li>
            <li><a href="#">OOD启思录</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">设计模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">创建型模式</a></li>
            <li><a href="#">结构型模式</a></li>
            <li><a href="#">行为型模式</a></li>
            <li class="divider"></li>
            <li><a href="#">设计模式总结</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">架构模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">企业应用架构模式</a></li>
            <li><a href="#">大型网站技术架构</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">项目管理 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">持续集成</a></li>
            <li><a href="/books/ProjectPlan.html">项目计划、进度与控制</a></li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li><a href="http://www.bootcss.com/" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-Bootstrap中文网'])" target="_blank">Bootstrap中文网</a></li>
</ul>