<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<!-- ... -->

	<Resource name="jdbc/sqlserver/ServletCourse"
		author="Container" type="javax.sql.DataSource" 
		maxActive="100"
		maxIdle="30" maxWait="10000" 
		username="sa" 
		password="123"
		driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		url="jdbc:sqlserver://127.0.0.1\SQLEXPRESS;databaseName=ServletCourse" />
</Context>