<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <!-- 定义切面 -->
    <bean id="切面Id" class="{Aspect类}"></bean>
    <aop:config>
        <!-- 定义切入点 -->
        <aop:pointcut id="{切入点id}" expression="execution(* aop.*.doSometing*())" />
        <!-- 定义通知 -->
        <aop:aspect id="{通知Id}" ref="{切面Id}">
            <aop:before method="{Aspect的方法名}" pointcut-ref="{切入点id}" />
            <aop:after method="{Aspect的方法名}" pointcut="execution(* aop.*.doSometing1())" />
            <aop:after-returning method="afterReturn" pointcut="execution(* aop.*.count(int)) and args(t1)" />
            <aop:after-throwing method="afterThrowing" pointcut-ref="moocPiontcut" />
            <aop:around method="around" pointcut-ref="moocPiontcut" />
        </aop:aspect>
    </aop:config>
</beans>
