<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>CodeExperience</title>
    <meta name="author" content="胡明明" />
    <meta name="keywords" content="Java入门" />
    <meta name="description" content="从零开始学习Java">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- CDN -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/prettify/r298/prettify.min.css" rel="stylesheet">

    <!-- build:css /styles/main.css -->
    <link rel="stylesheet" href="/styles/docs.min.css">
    <link rel="stylesheet" href="/styles/patch.css">
    <link rel="stylesheet" href="/styles/prettify.css">
    <!-- endbuild -->

</head>
<body data-spy="scroll" data-offset="100" data-target="#catalog">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>

    <!-- 导航 -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">CodeExperience</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
    <li><a href="/html/index.html">简介</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">速记手册 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Html</a></li>
            <li><a href="#">Css</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">jQuery</a></li>
            <li class="divider"></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="/html/cheat_sheet/sql.html">Sql</a></li>
            <li class="divider"></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Yeoman</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">编程基础 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/html/basic/codingSpec.html">基本编程规范</a></li>
            <li><a href="#">C# 编程规范</a></li>
            <li><a href="#">Effective C#</a></li>
            <li><a href="#">OOD启思录</a></li>
            <li class="divider"></li>
            <li><a href="#">性能优化</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">设计模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/html/design_pattern/create.html">创建型模式</a></li>
            <li><a href="/html/design_pattern/struct.html">结构型模式</a></li>
            <li><a href="/html/design_pattern/behavior.html">行为型模式</a></li>
            <li class="divider"></li>
            <li><a href="#">设计模式总结</a></li>
            <li><a href="#">面向对象设计原则</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">架构模式 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/html/architect/enterpriseApplicationArchitecture.html">企业应用架构模式</a></li>
            <li><a href="/html/architect/largeWebsiteArchitecture.html">大型网站技术架构</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">项目管理 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/html/project_management/developmentProcess.html">软件开发流程</a></li>
            <li><a href="#">持续集成</a></li>
            <li><a href="/html/project_management/projectPlan.html">项目计划、进度与控制</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">杂谈 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/html/talk/terms.html">计算机名词</a></li>
            <li><a href="#">如何做SEO</a></li>
            <li><a href="#">如何选择控件</a></li>
            <li><a href="#">Yeoman为何流行</a></li>
            <li><a href="/html/talk/windowsAzure.html">Windows Azure发布网站</a></li>
            <li><a href="/html/talk/styleCop.html">在团队开发中应用StyleCop</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">自学经历 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/html/learn/java.html">Java入门</a></li>
        </ul>
    </li>
</ul>

<!-- <ul class="nav navbar-nav navbar-right">
    <li><a href="#" target="_blank"></a></li>
</ul> -->
            </nav>
        </div>
    </header>

    <!-- 论文简介 -->
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1>初学Java</h1>
            <p>摘要: 从零开始学习Java</p>
            <p>关键字: Java入门</p>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                <!-- 正文 -->
                <div>
                    

	<h2 class="page-header" id="0">一、搭建开发环境</h2>

	

	<div class="bs-docs-section">

	

			<h3 class="text-primary" id="0-0">1.安装Jdk</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>包含内容</dt>
						<dd class="text-muted">JRE、编译器、打包工具、文档生成器、调试器、头文件生成器、反汇编器、监控工具等</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>下载</dt>
						<dd class="text-muted">http://www.oracle.com/technetwork/java/javase/downloads/index.html</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>JAVA_HOME</dt>
						<dd class="text-muted">C:\Program Files\Java\jdk1.7.0</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>CLASSPATH</dt>
						<dd class="text-muted">.;%JAVA_HOME%\lib\dt.jar;%JAVA_HOME%\lib\tools.jar;</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>Path</dt>
						<dd class="text-muted">%JAVA_HOME%\bin;%JAVA_HOME%\jre\bin;</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>指定java版本</dt>
						<dd class="text-muted">java -version: </dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="0-1">2.安装Tomcat</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>下载（Core:zip）</dt>
						<dd class="text-muted">http://tomcat.apache.org/download-80.cgi</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>绿色</dt>
						<dd class="text-muted">解压到不需要Admin权限的目录</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>CATALINA_HOME</dt>
						<dd class="text-muted">F:\Downloads\Tomcat\apache-tomcat-8.0.22</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>启动</dt>
						<dd class="text-muted"><kbd>双击</kbd> ‘安装目录\bin\startup.bat’ || 打开浏览器 ‘http://localhost:8080/’</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="0-2">3.安装Eclipse</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>下载</dt>
						<dd class="text-muted">http://www.eclipse.org/downloads/</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>绿色</dt>
						<dd class="text-muted">解压到不需要Admin权限的目录</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>工作目录</dt>
						<dd class="text-muted">存放代码的默认文件夹</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置运行环境</dt>
						<dd class="text-muted">Preference\Java\Installed JREs：选择jdk安装目录</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置Tomcat</dt>
						<dd class="text-muted">Preference\Server\Runtime Enviorments：添加Apache Tomcat v8.0及安装目录 || JRE选择jdk开头的</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置Content Assist</dt>
						<dd class="text-muted">Preference\Java\Content Assist\Auto activacation：输入'.abc...z'</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>打开Tomcat</dt>
						<dd class="text-muted">Window\Show View\Servers：<kbd>右键</kbd> start</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置编码格式</dt>
						<dd class="text-muted">General\WorkSpace\Text file encoding：UTF-8 <br />Web\JSP Files\Encoding：ISO 10646/Unicode(UTF-8)</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>关闭拼写检查</dt>
						<dd class="text-muted">General\Editors\Text Editors\Spelling：禁用拼写检查</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>安装插件</dt>
						<dd class="text-muted">Help\Eclipse Marketplace</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="0-3">4.安装Oracle</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>下载（11g）</dt>
						<dd class="text-muted">http://www.oracle.com/technetwork/database/enterprise-edition/downloads/index.html 两个文件都下载</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>安装</dt>
						<dd class="text-muted">两个文件解压到同一个目录，<kbd>双击</kbd> setup.exe</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>删除</dt>
						<dd class="text-muted">安装目录\product\11.2.0\dbhome_1\deinstall， <kbd>双击</kbd> deinstall.bat</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>ORACLE_HOME</dt>
						<dd class="text-muted">F:\oracle\product\10.2.0\db_1</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="0-4">5.安装PL/Sql Developer</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>下载（破解版）</dt>
						<dd class="text-muted">http://gd.ddooo.com:8081/uuauth/PLSQLDeveloper_13356.rar</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>配置</dt>
						<dd class="text-muted">Tools\Preferences ...\Connection, Oracle Home使用自动检测</dd>
					</dl>

					

			

			

			</div>

		

	</div>



	<h2 class="page-header" id="1">二、Jsp（方便生成Html的servlet，由Tomcat自动解析）</h2>

	

	<div class="bs-docs-section">

	

			<h3 class="text-primary" id="1-0">1.Hello World</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>创建项目</dt>
						<dd class="text-muted">Web\Dynamic Web Project</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>创建页面</dt>
						<dd class="text-muted">WebContent\某目录，<kbd>右键</kbd> JSP File</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>编写代码</dt>
						<dd class="text-muted">跟Asp差不多，语句用<code><% %></code>，声明用<code><%! %></code>，表达式用<code><%= %></code></dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>九大内置对象</dt>
						<dd class="text-muted">request，response，session，application，out（输出），page，pageContext，config，exception</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>部署到Tomcat</dt>
						<dd class="text-muted">Server\Add and Remove...，添加当前项目</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>运行</dt>
						<dd class="text-muted">Window\Show View\Servers：<kbd>右键</kbd> start || 打开浏览器 ‘http://localhost:8080/目录/xxx.jsp’</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>（修改端口号）</dt>
						<dd class="text-muted">并列工程目录的Servers\server.xml：找到Connector\port，进行修改</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>（智能提示）</dt>
						<dd class="text-muted">快捷键：<kbd>Alt + /</kbd> <br /> 导入运行时类库：<kbd>项目右键</kbd> Build Path\Config Build Path\Java Build Path\Add Library\Server Runtime</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>（解决中文乱码）</dt>
						<dd class="text-muted">post：<code>request.setCharacterEncoding("utf-8");</code><br /> get：修改Tomcat的server.xml的配置 <code>URIEncoding="utf-8"</code></dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="1-1">2.使用JavaBean</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>四大特点</dt>
						<dd class="text-muted">public， 无参构造函数， 私有属性， get/set访问器（符合特定规范的java类，用于做Model层）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code>&lt;jsp:useBean /&gt;</code></dt>
						<dd class="text-muted">实例化Bean，并将Bean作为成员，挂到scope对象上（它就具有了scope对象的生存期）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code>&lt;jsp:setProperty /&gt;</code></dt>
						<dd class="text-muted">给指定Bean的属性赋值（从表单或Request的池子中捞数据，与.net MVC中的模型绑定极其相似）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code>&lt;jsp:getProperty /&gt;</code></dt>
						<dd class="text-muted">读取指定Bean的属性值</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>本质</dt>
						<dd class="text-muted">jsp要经常使用Bean，因此特定开发出一系列语法技巧</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="1-2">3.使用Jsp指令</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt><code><%@ include file %></code></dt>
						<dd class="text-muted">嵌入外部文件的原始代码（物理替换）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code><%@ page import %></code></dt>
						<dd class="text-muted">相当于 c#的<code>using</code></dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code><%@ page contentType %></code></dt>
						<dd class="text-muted">当前页面使用的字符编码（推荐utf-8）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>本质</dt>
						<dd class="text-muted">编译Jsp页面时，执行的逻辑</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="1-3">4.使用Jsp动作</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt><code>&lt;jsp:include page /&gt;</code></dt>
						<dd class="text-muted">嵌入外部文件的执行结果（逻辑调用）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code>&lt;jsp:forward page /&gt;</code></dt>
						<dd class="text-muted">服务器跳转（交给指定Jsp页面处理请求）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt><code>&lt;jsp:param name value /&gt;</code></dt>
						<dd class="text-muted">作为forward动作的子标签，给request对象添加请求参数（相当于 c#的<code>routeValues</code>）</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>本质</dt>
						<dd class="text-muted">运行Jsp页面时，调用的逻辑</dd>
					</dl>

					

			

			

			</div>

		

	</div>



	<h2 class="page-header" id="2">三、Java API</h2>

	

	<div class="bs-docs-section">

	

			<h3 class="text-primary" id="2-0">1.集合框架</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>Collection</dt>
						<dd class="text-muted">List &rarr; ArrayList <br /> Set &rarr; HashSet <br /> Queue &rarr; LinkedList  &nbsp; </dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>Map</dt>
						<dd class="text-muted">HashMap</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>工具类</dt>
						<dd class="text-muted">Collections, Comparable, Comparator</dd>
					</dl>

					

			

			

			</div>

		

	</div>



	<h2 class="page-header" id="3">四、Oracle基础</h2>

	

	<div class="bs-docs-section">

	

			<h3 class="text-primary" id="3-0">1.系统用户</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>概念</dt>
						<dd class="text-muted">系统自带的4个用户</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>sys</dt>
						<dd class="text-muted">sysdba/sysoper</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>system</dt>
						<dd class="text-muted">normal</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>sysman</dt>
						<dd class="text-muted">normal</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>scott</dt>
						<dd class="text-muted">tiger</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>登录</dt>
						<dd class="text-muted">connect 用户名/密码 @服务器地址 as normal/sysdba/sysoper</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>查看登录用户</dt>
						<dd class="text-muted">show user</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>用户的数据字典</dt>
						<dd class="text-muted">dba_users</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>启用用户</dt>
						<dd class="text-muted">alter user 用户名 account unlock;</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="3-1">2.表空间</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>概念</dt>
						<dd class="text-muted">数据的逻辑分类，包含多个数据文件</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>永久表空间</dt>
						<dd class="text-muted">表、视图、存储过程等</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>临时表空间</dt>
						<dd class="text-muted">执行时的中间过程，执行完删除</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>undo表空间</dt>
						<dd class="text-muted">为事务服务，保存修改前的数据</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>dba_tablespaces / user_tablespaces</dt>
						<dd class="text-muted">表空间相关的信息</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>dba_data_files / user_data_files</dt>
						<dd class="text-muted">数据文件相关的信息</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>修改默认表空间</dt>
						<dd class="text-muted">alter user 用户名 default tablespace 表空间</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>创建表空间</dt>
						<dd class="text-muted">create tablespace 表空间 datafile 'xxx.dbf' size 10m;</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>删除表空间</dt>
						<dd class="text-muted">drop tablespace 表空间 including contents;</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>增加数据文件</dt>
						<dd class="text-muted">alter tablespace 表空间 add datafile 'xxx.dbf' size 10m;</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>删除数据文件</dt>
						<dd class="text-muted">alter tablespace 表空间 drop datafile 'xxx.dbf';</dd>
					</dl>

					

			

			

			</div>

		

			<h3 class="text-primary" id="3-2">3.表</h3>
			<div class="section">

			

					<dl class="dl-horizontal">
						<dt>概念</dt>
						<dd class="text-muted">二维结构的基本存储单位</dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>数据类型</dt>
						<dd class="text-muted">字符型 <code>char(n)/nchar(n), varchar2(n)/nvarchar2(n)</code> <br /> 数值型 <code>number(有效数字,小数位数), float(n)</code> <br /> 日期型 <code>date, timestamp</code> <br /> 大对象 <code>blob【二进制存储】, clob【字符串存储】</code></dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>约束</dt>
						<dd class="text-muted">非空约束 <code>not null</code> <br /> 主键约束 <code>primary key / constraint 【约束名】 primary key(【字段1,2...】)</code> <br /> 外键约束 <code>reference 【主表】(【字段】) / constraint 【约束名】 foreign key(【从表字段】) references 【主表】(【主表字段】) on delete cascade</code> <br /> 唯一约束 <code>unique / constraint 【约束名】 unique(【字段】)</code> <br /> 检查约束 <code>check(【条件】) / constraint 【约束名】 check(【条件】)</code></dd>
					</dl>

					

					<dl class="dl-horizontal">
						<dt>约束的数据字典</dt>
						<dd class="text-muted">user_constraints</dd>
					</dl>

					

			

			

			</div>

		

	</div>


                </div>

                <div class="bs-callout bs-callout-info">
	<!-- <h4>注:</h4> -->
	<p class="text-info">
		

			<br />

			

			<br />

			
	</p>
</div>
            </div>
            <div class="col-md-3" role="complementary">
                <!-- 目录 -->
                <nav id="catalog" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="320">
                    <ul class="nav bs-docs-sidenav">

    

            <li>
                <a href="#0">一、搭建开发环境</a>
                <ul class="nav">

                    

                        <li><a href="#0-0">1.安装Jdk</a></li>

                        

                        <li><a href="#0-1">2.安装Tomcat</a></li>

                        

                        <li><a href="#0-2">3.安装Eclipse</a></li>

                        

                        <li><a href="#0-3">4.安装Oracle</a></li>

                        

                        <li><a href="#0-4">5.安装PL/Sql Developer</a></li>

                        

                </ul>
            </li>

            

            <li>
                <a href="#1">二、Jsp（方便生成Html的servlet，由Tomcat自动解析）</a>
                <ul class="nav">

                    

                        <li><a href="#1-0">1.Hello World</a></li>

                        

                        <li><a href="#1-1">2.使用JavaBean</a></li>

                        

                        <li><a href="#1-2">3.使用Jsp指令</a></li>

                        

                        <li><a href="#1-3">4.使用Jsp动作</a></li>

                        

                </ul>
            </li>

            

            <li>
                <a href="#2">三、Java API</a>
                <ul class="nav">

                    

                        <li><a href="#2-0">1.集合框架</a></li>

                        

                </ul>
            </li>

            

            <li>
                <a href="#3">四、Oracle基础</a>
                <ul class="nav">

                    

                        <li><a href="#3-0">1.系统用户</a></li>

                        

                        <li><a href="#3-1">2.表空间</a></li>

                        

                        <li><a href="#3-2">3.表</a></li>

                        

                </ul>
            </li>

            

</ul>
                    <a class="back-to-top" href="#top">
                        返回顶部
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>本网站由 <a href="#" target="_blank">胡明明</a> 在业余时间归纳总结。所有内容基于个人理解，仅用于参考，不保证正确性。</p>
	<p>版权所有，保留一切权利。</p>
  </div>
</footer>


    <!-- CDN -->
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>

    <!-- build:js /scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <script src="/scripts/prettyCode.js"></script>
    <!-- endbuild -->
</body>
</html>