<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="bs-docs-home">
    <!-- 导航 -->
    <%- include('../partials/nav'); %>

    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
        <div class="container">
            <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">H</span>
            <p class="lead"><%= 摘要 %></p>
        </div>
    </main>

    <!-- 页脚 -->
    <%- include('../partials/footer.ejs'); %>
</body>
</html>
